body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #00430f;
    font-family: 'Montserrat', sans-serif;
  }

/* Prevent scrolling */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

  body.fade-in {
    opacity: 1; /* Fully visible */
}
    .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }

/* Button container styling */
.button-container {
  width: 200px;              /* Set width for the container */
  padding: 20px;             /* Add padding around the button */
  text-align: center;        /* Center the button inside the container */
  margin-top: 20px;          /* Add space from other content */
  position: absolute;      /* Position container absolute so we can drag it */
  top: 550px;               /* Position container at 50px from top */
  left: 300px;              /* Position container at 50px from left */
}

/* Button styling */
.my-button {
  width: 100%;              /* Make the button fill the width of its container */
  padding: 10px;            /* Add padding inside the button */
  font-size: 16px;          /* Set font size */
  background-color: #007bff; /* Blue background */
  color: #fff;              /* White text color */
  border: none;             /* Remove default border */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;         /* Change cursor to pointer when hovering */
  position: absolute;      /* Position container absolute so we can drag it */
  top: 5px;               /* Position container at 50px from top */
  left: 800px;  
}

.my-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  /* Button container styling */
.red-button-container {
  width: 200px;              /* Set width for the container */
  padding: 20px;             /* Add padding around the button */
  text-align: center;        /* Center the button inside the container */
  margin-top: 20px;          /* Add space from other content */
  position: absolute;      /* Position container absolute so we can drag it */
  top: 550px;               /* Position container at 50px from top */
  left: 550px;              /* Position container at 50px from left */
}

/* Button styling */
.my-button-red {
  width: 100%;              /* Make the button fill the width of its container */
  padding: 10px;            /* Add padding inside the button */
  font-size: 16px;          /* Set font size */
  background-color: #ff0000; /* Blue background */
  color: #fff;              /* White text color */
  border: none;             /* Remove default border */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;         /* Change cursor to pointer when hovering */
}

.my-button-red:hover {
  background-color: #b30000; /* Darker blue on hover */
}
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  .logo {
    grid-area: header;
    position: absolute; 
    top: 10px; 
    left: 75px; 
    width: 90px; 
    height: auto;
    margin-right: 10px; 
    z-index: 1000; 
  }

  .main-title h2 {
    color: darkgreen;
  }
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: darkgreen;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }

  .sidebar-list-item-logout {
    padding: 20px 20px 20px 20px;
    font-size: 18px;

    position: absolute;
    bottom: 20px; /* Moves the item 20px from the bottom */
    left: 0px;
  }

  .sidebar-list-item-logout:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    width: 20%; /* Increase width by 50% */
    position: absolute;
    bottom: 20px; /* Moves the item 20px from the bottom */
    left: 0px;
  }  
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #ffffff;
  }

  .sidebar-list-item-logout > a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #2962ff;
    position: absolute;
    bottom: 10px; /* Moves the item 20px from the bottom */
    left: 280px;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
    position: absolute;
    bottom: 10px; /* Moves the item 20px from the bottom */
    left: 550px;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .material-icons-outlined {
    font-size: 45px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
  
  .charts-card {
    background-color: #4caf50; /* A suitable green color */
    margin-bottom: 20px;    
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    width: 100%;
    max-height: 300px;
    margin-top: 20px;
    max-width: 600px;        /* Set a max width */
    height: 500px !important; /* Adjust height */
    position: absolute;
    bottom: 10px; /* Moves the item 20px from the bottom */
    left: 280px;
  }
  #myLineChart {
    width: 150%;      /* Makes it responsive */
    max-width: 800px; /* Adjust the maximum width */
    height: 400px;    /* Adjust the height */
    margin: 20px auto; /* Center the chart */
    display: block; /* Ensure proper alignment */
    position: absolute;
    bottom: 250px; /* Moves the item 20px from the bottom */
    left: 280px;
  }  

  #myPieChart {
    width: 1000px !important;  /* Increase width */
    height: 1080px !important; /* Increase height */
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    bottom: 320px; /* Moves the item 20px from the bottom */
    left: 1115px;
  }
  
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Medium <= 992px */
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }


